XML/TP1/ex1.DTD

<!DOCTYPE SIMULATIONS [

<!ELEMENT SIMULATION (PRIX,MONTANT,DUREE,REPRISE,CLIENT+)>
<!ELEMENT CLIENT (NOM,PRENOM,ADRESSE)>
<!ELEMENT ADRESSE (LIGNEADRESSE)>
<!ELEMENT LIGNEADRESSE (#PCDATA)>
<!ELEMENT BYLINE (#PCDATA)>
<!ELEMENT LEAD (#PCDATA)>
<!ELEMENT BODY (#PCDATA)>
<!ELEMENT NOTES (#PCDATA)> 

<!ATTLIST ARTICLE AUTHOR CDATA #REQUIRED>
<!ATTLIST ARTICLE EDITOR CDATA #IMPLIED>
<!ATTLIST ARTICLE DATE CDATA #IMPLIED>
<!ATTLIST ARTICLE EDITION CDATA #IMPLIED>

]> 